/** Contato **/
.contato input,
.contato button {
  display: block;
}

form {
  margin: 0 auto;
  width: 50%;

  @include mq('mobile') {
    width: auto;
  }
}

.contato input,
textarea {
  width: 100%;
  margin-bottom: .8em;
  padding: 4px 8px;
  @include border-radius-setup;
  border: 2px solid #ccc;
}

.contato button {
  margin: 0 auto;
  background: $--color-primary;
  border: 0;
  color: $--color-white;
  width: 210px;
  height: 38px;
  font-size: 1.2em;
  @include border-radius-setup;
  @extend %default-shadow;
}
